@page "/counter"
@using Blazor.Extensions.Storage
@inject LocalStorage LocalStorage

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {
    int currentCount = 0;

    [Parameter] protected int IncrementAmount { get; set; } = 1;

    protected override async Task OnInitAsync()
    {
        currentCount = await LocalStorage.GetItem<int>("counter");
    }

    void IncrementCount()
    {
        currentCount+=IncrementAmount;

        LocalStorage.SetItem("counter", currentCount);
    }
}
